{% extends 'temp.html.twig' %}

{% block title %}Inscriptions{% endblock %}
{% block body %}
    <style>
        .wrapper{
            margin: 0 !important;
            padding: 0 !important;
            padding-top: 0 !important;
            width: 100% !important;
            height: 100% !important;
            overflow: hidden !important;
        }
    </style>

    <div id="pre_login" class="d-flex justify-content-around align-items-center h-100">
        <img src="{{ asset('images/logo.png') }}" height="auto" width="40%" alt="">

        <div id="" class="d-flex flex-column justify-content-between align-items-start">
            <h1>Inscription</h1>
            <span class="w-100 d-flex justify-content-between align-items-center" style="position:relative">
                {% if admin %}
                    <span class="btn-effect w-100">
                        <a class="btn btn-lg btn-block btn-danger" href="{{ path('app_login') }}">Identifiez vous</a>
                    </span>

                {% else %}
                    <span class="btn-effect">
                        <a class="btn btn-lg btn-danger" style="border-radius: 10px; margin-right: 10px" href="{{ path('app_register_student') }}">Candidat</a>
                    </span>
                    <span class="btn-effect">
                        <a class="btn btn-lg btn-danger" style="border-radius: 10px" href="{{ path('app_register_company') }}">Entreprises</a>
                    </span>
                {% endif %}
            </span>
        </div>
    </div>


{% endblock %}
