# This file override the default configuration ;
# Please copy this file as docker-compose-dev.yml ;
# Then configure the file as you need.

# Version docker compose
version: "3.2"

# Declaration of services
services:
  # App service
  app:
    ports:
      - "80:80"
      - "8081:8081"
      - "443:443"
    env_file:
      - .env

  # Phpmyadmin service
  phpmyadmin:
    ports:
      - "8080:80"

  # Mailcatcher service
  mailcatcher:
    image: schickling/mailcatcher:latest
    ports:
      - "1080:1080"
    networks:
        iscom_network:
            aliases:
              - mailcatchersmtp

# Volumes
volumes:
  socket_dir:
