@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "sidebar";
@import "register";
@import "password";
@import "quick_user";
@import "profile";
@import "login";

.no-overflow {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.body-flex {
  display: flex;
  height: 100% !important;
  width: 100% !important;
  position: relative;

  > .wrapper {
    overflow: auto;
    width: 77%;
    position: relative;
    padding: 15vh 4em 4em;
  }
}