@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "sidebar";
@import "register";
@import "password";
@import "quick_user";
@import "profile";

html {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

body {
  display: flex;
  height: 100% !important;

  >.container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    max-width: 70% !important;
    margin-top: 5vh !important;
  }
}