#change_pass {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content:  space-evenly;

  form {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    >div {
      width: 100%;
    }

    input::placeholder {
      color: black;
      opacity: 0.9;
    }

    .btn {
      background-color: #E94E1A !important;
      border-radius: 10px !important;
    }

  }

  input {
    width: 100%;
    padding: 2vh 1em;
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
  }
}
