#profile {
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
      width: 100%;
    }

    button {
      background-color: #a5201e !important;
      border-radius: 10px !important;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 2vh 1em;
      background-color: #ebebeb;
      border: none;
      border-radius: 5px;
    }

    input::placeholder {
      color: black;
      opacity: 1;
    }
  }
}
