#register {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#register > div {
  width: 40%;
}

#register h1 {
  font-weight: bold;
}

#form {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#form form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#form input {
  width: 100%;
  padding: 2vh 1em;
  background-color: #ebebeb;
  border: none;
  border-radius: 5px;
}

#form form div {
  width: 100%;
}

#form form >div:last-of-type {
  display: flex !important;
  justify-content: center !important;
  flex-direction: row-reverse !important;
  align-content: center !important;
  input {
    width: min-content !important;
    margin-right: 1em;
  }
  label{
    margin:0 !important;
  }
}
#form input::placeholder {
  color: black;
  opacity: 1;
}

#form button {
    background-color: #E94E1A !important;
    border-radius: 10px !important;
    font-weight: bold;
    padding:0.5em 1em;
}