<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body style="padding: 5%">
        {% block body %}
            Bonjour
            {% if role is defined %}
                {{ role }}
            {% endif %}
        {% endblock %}
    </body>
</html>
