{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard ISCOM</h1>
    <div>
        <img src="{{ asset('images/stat-0.png') }}" width="100%" alt="">
        <img src="{{ asset('images/stat-1.png') }}" width="100%" alt="">
        <img src="{{ asset('images/stat-2.png') }}" width="100%" alt="">
        <img src="{{ asset('images/stat-3.png') }}" width="100%" alt="">
    </div>
{% endblock %}